body{
    width: 80%;
    max-width: 960px;
    margin: 0;
   
}

.gorra{
    margin-top: 50px;
    width: 250px;
    margin-left: 542px;
    position: absolute;
   z-index: 1;
}
.frente{
    position:absolute;
    width: 260px;
    margin-left: 530px;
    margin-top: 140px;
    z-index: -1;
}

.cejaizquierda{
    width: 110px;
    margin-left: 535px;
    margin-top: 230px;
    position:absolute;
    z-index: 1;
}
.cejaderecha{
    width: 110px;
    margin-left: 700px;
    margin-top: 230px;
    position:absolute;
    z-index: 1;
}
.entreceja{
    position:absolute;
    z-index: 1;
    width: 55px;
    margin-left: 645px;
    margin-top: 250px;

}
.ojoizquierdo{
    position:absolute;
    z-index: 1;
    width: 90px;
    margin-left: 555px;
    margin-top: 265px;
   
}
.ojoderecho{
    position:absolute;
    z-index: 1;
    width: 90px;
    margin-left: 700px;
    margin-top: 265px;
   

}
.cachetebocaderecha{
    position:absolute;
    z-index: 1;
    width: 160px;
    margin-left: 670px;
    margin-top: 300px;
    }

.cachetebocaizquierda{
    position:absolute;
    z-index: 1;
    width: 140px;
    margin-left: 535px;
    margin-top: 300px;

}
.orejaderecha{
    position:absolute;
    z-index: 1;
    width: 50px;
    margin-left: 775px;
    margin-top: 260px;
}
.orejaizquierda{
    position:absolute;
    z-index: 1;
    width: 70px;
    margin-left: 495px;
    margin-top: 260px;
}

.menton{
    position:absolute;
    z-index: 1;
    width: 230px;
    margin-left: 565px;
    margin-top: 490px;
    }

    ul:after {
        content: "";
        display: table;
        clear: both;
      }
      li {
        
        float: left;
        position: relative;
        list-style: none;
      }
      img {
        display: block;
        transition: .4s ease-in-out;
      }
      li:hover img {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    
      }

      .centered{
  position:absolute;
  top:50%;
  left:10%;
  width:auto;
  transform:translate(-50%,-50%);
}
.text{
    font-family: arial;
  font-size:20px;
  background:#f5f5f5;
  padding:5px 0;
  margin: 10px;
  position:relative;
  margin-top:5px;
  margin-right:5px;
  float:left;
}
.text:last-child{
  margin-right:0;
}
.blk .text{
  display:block;
  float:none;
  margin:0;
}
.text::after{
    font-family: arial;
  background:rgb(33,33,33);
  content:attr(data-content);
  position:absolute;
  color:#fff;
  left:0px;
  top:0px;
  padding:inherit;
  width:0;
  transition: all 700ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
  overflow:hidden;
}
.text:hover::after{
  width:100%;
  visibility:visible;
}
.text.red::after{
  background:rgb(0, 0, 0);
}
.text.green::after{
  background:rgb(255, 255, 255);
  color: black;
}
.text.blue::after{
  background:rgb(0, 0, 0);
}


#mireproductor{
  position:absolute;
  top: 50%;
  left: 30%;
  width: 40%;
}
#audio1{
  position:absolute;
  top: 50%;
  left: 30%;
  width: 40%;
}
#audio2{
  position:absolute;
  top: 30%;
  left:30%;
  width: 40%;
}

.flex-container{
   display: flex;
   
 }

.fondito{
  max-width: 70%;
  max-height: 90%;
  margin-top: 30px;
}

#contenidoorejade{
  display: flex;
  margin: 15px;
  margin-left: 200px;
 padding: 15px;
 background-color: black;
 
}

#myImage{
  
width: 1450px;
  
}

#myImage1{
  width: 1450px;

  
}

#originariovideo{
  margin-left: 200px;
  margin-top: 80px;
}

button{
  padding: 6px;
  font-size: 15px;
  font-family: arial;
  text-decoration: none;

}

#contenedor2{
  background-image: url(../Imagenes_fondos/Sin-título-2.gif);
  margin-left: 1200px;
}
#referencia{
  max-width: 80%;
  margin-left: 300px;
}